<h3 style="color: #<%= @hex[1] %>"> Let's play some Hangman </h3>

<h2 class='game-state' style="color: #<%= @hex[2] %>">	
	<%= @word %>
</h2>


<% ('A'..'Z').each do |letter|%>
	<button class='letter-button' data-letter="<%= letter %>" style="color: #<%= @hex[3] %>"><%= letter %></button>
<% end %>

<script>

	var gameID;

	function updateGameState(text){
		$('h2.game-state').text(text);
	}

	function makeGuess(guessText){
		var gameURL = '/hangman/' + gameID;

		$.ajax({
			method: "PATCH",
			url: gameURL,
			dataType: 'JSON',
			data: {guess: guessText},
			success: function(data){
      	updateGameState(data.game_state);

      	if (data.complete){
      		alert('That fun you just had... tho')
      	}

      	if (data.bad_guesses.length > 5){
					alert('you lost, mofo')
					window.location = '/hangman';
				}

			}
		})

	}


	function startGame(){
		$.ajax({
			method: "POST",
			url: '/hangman',
			dataType: 'JSON',
			success: function(data){
				gameID = data.id;
				updateGameState(data.game_state);
			}
		})
	}


	$(function(){

		startGame();
		$('.letter-button').on('click', function(e){
			var guessText = $(this).data('letter');
			makeGuess(guessText);
			$(this).remove();
		});	
	
	})

	</script>